

<div class="msg-box lg:mb-20 lg:ml-20">
    <% if alert %>
        <p class="msg alert lg:text-left lg:w-1/3 lg:float-right"><%= alert %></p>
    <% elsif notice %>
        <p class="msg notice lg:text-left lg:w-1/3 lg:float-right "><%= notice %></p>
    <% end %>
</div>