
<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>

  <body class="focus">
    <div class="flex content-center container mx-auto px-4 py-20 devise">
        <div class="flex mx-auto flex-col p-10">
            <%= yield %>
        </div>
    <div>
    <%= render 'layouts/notifications'%>
  </body>
</html>